snippet image
![width:$2px center]($1)
endsnippet

snippet style
<style scoped>
	$0
</style>
endsnippet

snippet datelink
[[`date +%y-%m-%d`-$0]]
endsnippet

snippet dl
[[`date +%y-%m-%d`-$0]]
endsnippet
